<div class="homePage" id="fixDiv">
	<ng-include src="'partials/navBar.html'" ng-controller="homeCtrl"></ng-include>
	<p class="bigOver" id="aboutOver">About your tourist guide</p>
	<hr id="homeLine">

	<p class="slogan" id="aboutUn">Our vision</p>
	<p class="standard aboutTex">We believe it should be easy to discover the world.</p>
	<p class="standard aboutTex">That's why we want to be your tourist guide - we want to make it simple for you to find what you're looking for no mather where in the world.</p>
	
	<p class="slogan" id="aboutUn">Who's behind this page?</p>
	<p class="standard aboutTex">We are 3 students in our 2nd year at The Royal Institute of Technology in Stockholm, Sweden.</p>
	<p class="standard aboutTex">In 5 years we will both have an exam in engineering (IT/Computer) and a teacher liecens (math and mechanics/IT/computer) at the level of Gymnasium (secondary high).</p>
	<p class="standard aboutTex">This page is our final project after 2 months of lab sessions in the course "Interaction Programming and the Dynamic Web". </p>
	<p class="standard aboutTex">It took us around 6 weeks to make this webpage and even more cups of coffee, emergency meetings and sleepless nights.</p>
	<p class="standard aboutTex">Cheers!</p>

	<div class="col-sm-12" id="picPos">
		<div class="col-md-4 col-sm-6">
			<img src="jens.jpg" class="img-circle perPic">
			<p class="picTex">Jens Berntsen</p>
		</div>
		<div class="col-md-4 col-sm-6">
			<img src="emmeli.jpg" class="img-circle perPic">
			<p class="picTex">Emmeli Fall</p>
		</div>
		<div class="col-md-4 col-sm-6">
			<img src="jonathan.jpg" class="img-circle perPic">
			<p class="picTex">Jonathan Bäckström</p>
		</div>
	</div>

	<p class="standard thanksTo">Special thanks to Eleanor Fall, Emelie Cegrell, Emilia Lind, Jonas Johansson, William Friefeldt, Karin & Jerry Brännström - for good ideas and support.</p>
	<p class="standard thanksTo">Picture taken by Emelie Cegrell</p>

</div>