<div id="startsida">

<ng-include src="'partials/navBar.html'"></ng-include>

<p id="steg1">Mina Favoriter.</p>
<hr id="favline">
 <p class="info skuggaInfo3" id="info3">Ställen jag drömmer mig bort till.</p>
 <p class="info skuggaSlogan" id="info2">☆ Sjöfartsmuseet</p>
 <p class="info skuggaSlogan" id="info2">☆ Sjöfartsmuseet</p>
 <p class="info skuggaSlogan" id="info2">☆ Sjöfartsmuseet</p>


<div class="btn-group deliteFav">
  <button type="button" id="deliteBut" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
    Ta bort en favorit<span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">favorit 1</a></li>
    <li><a href="#">favorit 2</a></li>
    <li><a href="#">favorit 3</a></li>
  </ul>
</div>


</div>