<!-- FORSTA SIDAN -->

<div id="homePage">
<!--button ng-click="setspcUser()">jonas</button-->
<div class="homeDiv">
	<p id="appName">Your tourist guide</p>
	<hr id="homeLine">

	<p id="slogan" class="sloganShadow">No more stones unturned</p>

	<p class="home" id="ho1">The world is an amazing place with lots of things to see and do.</p>
	<p class="home" id="ho1">But too often we find ourselves wandering around in a city and missing the real deal.</p>
	<p class="home" id="ho1">But no more, no more stones unturned.</p>
	<p class="home" id="ho0">Your interests are all we need to help you have a personalised experience of all the world has to offer.</p>
	<p class="home" id="ho2">Sign in and let us be your tourist guide.</p>

	<input class="btn btn-default signInBut" type="submit" ng-controller="homeCtrl" ng-click="auth.signin()" value="SIGN IN HERE"/>
</div>
</div>
