<!-- HOMEPAGE! -->

<div class="homePage" ng-controller="homeCtrl">

	<p id="appName">YOUR TOURIST GUIDE</p>
	<hr id="homeLine">
	<p class="slogan">No more stones unturned</p>
	<input class="btn btn-default signInBtn" type="submit" ng-controller="homeCtrl" ng-click="auth.signin()" value="SIGN IN HERE"/>
	<p class="homeText">First time here? No worries, <span ng-click="isCollapsed = !isCollapsed">click here!</span></p>

	<div uib-collapse="isCollapsed">
		<div class="well well-lg wellFirst">
			<p class="collText">The world is an amazing place with lots of things to see and do.</p>
			<p class="collText">But too often we find ourselves wandering around in a city and</p> 
			<p class="collText">missing the real deal.</p>
			<p class="collText">But no more, no more stones unturned.</p>
			<p class="collText" id="coll0">We believe the world has so much to offer.</p>
			<p class="collText" id="coll1">All we need is <span id="darker">your favourite interests</span> to provide you a <span id="darker">personalised</span> experience.</p>
			<p class="collText" id="coll1">So sign in and let us be <span id="youTou">your tourist guide</span>.</p>
		</div>
	</div>

</div>
