<!-- We include the sidebar as it is shared across two screens. -->
<h1 id="intressen"> INTRESSEN?</h1>
  <div>
   <p class="knappar">
        <button type="button" class="btn btn-default btn-lg knappar" id="noje">NÖJESFÄLT</button>
        <button type="button" class="btn btn-default btn-lg knappar" id="djur">DJUR</button>
        <button type="button" class="btn btn-default btn-lg knappar" id="konst">KONST</button>
        <button type="button" class="btn btn-default btn-lg knappar" id="nattliv">NATTLIV</button>
        <button type="button" class="btn btn-default btn-lg knappar" id="fika">FIKA</button>
    </p>
    <p class="knappar">
        <button type="button" class="btn btn-default btn-lg knappar" id="museum">MUSEUM</button>
        <button type="button" class="btn btn-default btn-lg knappar" id="shopping">SHOPPING</button>
        <button type="button" class="btn btn-default btn-lg knappar" id="bio">BIO</button>
        <button type="button" class="btn btn-default btn-lg knappar" id="sport">SPORT</button>
        <button type="button" class="btn btn-default btn-lg knappar" id="mat">MAT</button>
    </p>
    <p class="knappar">
        <button type="button" class="btn btn-default btn-lg knappar" id="parker">PARKER</button>
        <button type="button" class="btn btn-default btn-lg knappar" id="byggnader">BYGGNADER</button>
        <button type="button" class="btn btn-default btn-lg knappar" id="kyrko">KYRKOGÅRDAR</button>
        <button type="button" class="btn btn-default btn-lg knappar" id="litteratur">LITTERATUR</button>
   </p>
   <p class="sistaknappen">
   <button type="button" class="btn btn-default btn-lg knappar">JAG HAR FYLLT I ALLA MINA INTRESSEN</button>
   </p>
</div>
<!-- TODO in Lab 5: Display the dish information including image, Description, 
Instructions, Ingredients and total cost. -->
  
