<!-- We include the sidebar as it is shared across two screens. -->
<h1 id="intressen"> INTRESSEN?</h1>
  <div>
   <p class="knappar">
        <button ng-class="{true: 'btn btn-default btn-lg knappar', false: 'btn btn-default btn-lg knappTryckt'}[!checked1]" type="button" class="btn btn-default btn-lg knappar" ng-click ="addInterest('amusement_park'); checked1 = !checked1">NÖJESFÄLT</button>
        <button ng-class="{true: 'btn btn-default btn-lg knappar', false: 'btn btn-default btn-lg knappTryckt'}[!checked2]" type="button" class="btn btn-default btn-lg knappar" ng-click ="addInterest('aquarium'); addInterest('zoo'); checked2 = !checked2">DJUR</button>
        <button ng-class="{true: 'btn btn-default btn-lg knappar', false: 'btn btn-default btn-lg knappTryckt'}[!checked3]" type="button" class="btn btn-default btn-lg knappar" ng-click ="addInterest('art_gallery'); checked3 = !checked3">KONST</button>
        <button ng-class="{true: 'btn btn-default btn-lg knappar', false: 'btn btn-default btn-lg knappTryckt'}[!checked4]" type="button" class="btn btn-default btn-lg knappar" ng-click ="addInterest('bar'); addInterest('night_club'); checked4 = !checked4">NATTLIV</button>
        <button ng-class="{true: 'btn btn-default btn-lg knappar', false: 'btn btn-default btn-lg knappTryckt'}[!checked5]" type="button" class="btn btn-default btn-lg knappar" ng-click="addInterest('cafe'); checked5 = !checked5">FIKA</button>
    </p>
    <p class="knappar">
        <button ng-class="{true: 'btn btn-default btn-lg knappar', false: 'btn btn-default btn-lg knappTryckt'}[!checked]" type="button" class="btn btn-default btn-lg knappar" ng-click="addInterest('museum'); checked = !checked">MUSEUM</button>
        <button ng-class="{true: 'btn btn-default btn-lg knappar', false: 'btn btn-default btn-lg knappTryckt'}[!checked]" type="button" class="btn btn-default btn-lg knappar" ng-click="addInterest('shopping_mall'); checked = !checked">SHOPPING</button>
        <button ng-class="{true: 'btn btn-default btn-lg knappar', false: 'btn btn-default btn-lg knappTryckt'}[!checked]" type="button" class="btn btn-default btn-lg knappar" ng-click="addInterest('movie_theater'); checked = !checked">BIO</button>
        <button ng-class="{true: 'btn btn-default btn-lg knappar', false: 'btn btn-default btn-lg knappTryckt'}[!checked]" type="button" class="btn btn-default btn-lg knappar" ng-click="addInterest('bowling_alley'); checked = !checked">SPORT</button>
        <button ng-class="{true: 'btn btn-default btn-lg knappar', false: 'btn btn-default btn-lg knappTryckt'}[!checked]" type="button" class="btn btn-default btn-lg knappar" ng-click="addInterest('restaurant'); checked = !checked">MAT</button>
    </p>
    <p class="knappar">
        <button ng-class="{true: 'btn btn-default btn-lg knappar', false: 'btn btn-default btn-lg knappTryckt'}[!checked]" type="button" class="btn btn-default btn-lg knappar" ng-click ="addInterest('park'); checked = !checked">PARKER</button>
        <button ng-class="{true: 'btn btn-default btn-lg knappar', false: 'btn btn-default btn-lg knappTryckt'}[!checked]" type="button" class="btn btn-default btn-lg knappar" ng-click="addInterest('mosque'); addInterest('church');addInterest('synagogue'); addInterest('hindu_temple'); addInterest('city_hall'); checked = !checked">BYGGNADER</button>
        <button ng-class="{true: 'btn btn-default btn-lg knappar', false: 'btn btn-default btn-lg knappTryckt'}[!checked]" type="button" class="btn btn-default btn-lg knappar" ng-click="addInterest('cemetery'); checked = !checked">KYRKOGÅRDAR</button>
        <button ng-class="{true: 'btn btn-default btn-lg knappar', false: 'btn btn-default btn-lg knappTryckt'}[!checked]" type="button" class="btn btn-default btn-lg knappar" ng-click="addInterest('library'); checked = !checked">LITTERATUR</button>
        
        <a class="btn pull-right" ng-class="{true: 'btn-primary', false: 'btn-danger'}[!patient.archived]" ng-click="patient.archived = !patient.archived">{{!patient.archived && 'Archive' || 'Unarchive'}} patient</a>


   </p>
   <p class="sistaknappen">
   <a href="#/search" class="btn btn-default btn-lg knappar">JAG HAR FYLLT I ALLA MINA INTRESSEN</a>
   
   </p>
</div>
<!-- TODO in Lab 5: Display the dish information including image, Description, 
Instructions, Ingredients and total cost. -->
  
