
<div class="mapBackground">
	<ng-include src="'partials/navBar.html'" ng-controller="homeCtrl"></ng-include>

 <p class="standard" id="mapInf">The world is in your hand so go ahead and choose your destination.</p>


	<div class="container"> 
	 	<div ng-init="init()"/>
	 	<li><a href="#favorit">Favourites</a></li>
			<div class ="well well-lg" id="map-canvas"></div>
		</div>
	</div>

	
	<div ng-controller="modalCtrl">
		<div class="container mapBackground" ng-repeat="(interest, places) in displayDict">

			<p class="interests">{{interest.toUpperCase()}}</p> 
	    	<hr class="intline">
	    	
	    	<div class="row text-left"> 
	    		<div class="col-md-6" ng-repeat="place in places">>
	    			<a class="platser" ng-click="open('lg'); getPlaceInfo(place.place_id)">{{place.name}}</a>
	    		</div>
	        </div>

	    </div>
	    <div class="fulfill">
	    </div>
	</div>
</div>