    <div class="container-fluid">
        <nav class="navbar navbar-header navbar-static-top">
            <div class="container">
                <ul class="nav nav-tabs">
                    <li><a class ="removeLinkLook" href="#/home">Home</a></li>
                    <li><a class ="removeLinkLook" href="#/interests">Interests</a></li>
                    <li><a class ="removeLinkLook" href="#/search">Search</a></li>
                    <li class="nav dropdown navbar-right">
                        <a class="dropdown-toggle removeLinkLook" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action 1</a></li>
                            <li><a href="#">Action 2</a></li>
                            <li><a href="#">Action 3</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Sign out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>