
<div class="modal-header">
  <button type="button" class="close" ng-click="close()">&times;</button>
  <h2 class="modal-title"><span id="placeName">{{info.name}}</span></h2>
</div>


<div class="modal-body">
  <div class="col-md-6">
    <p ng-if="info.formatted_address">Address: {{info.formatted_address}}</p>
    <p ng-if="info.website">Website: <a href ="{{info.website}}"target="_blank">{{info.website}}</a></p>
    <div ng-if="info.opening_hours">Opening hours:
      <li ng-repeat="day in info.opening_hours.weekday_text">{{day}}</li>
    </div>
    <p ng-if="info.international_phone_number">Phone number: {{info.international_phone_number}}</p>
    <p ng-if="info.rating">Rating: {{info.rating}}</p>
  </div>
  <div class="col-md-6" ng-if="info.photos">
    <img ng-src="{{getPhoto(info.photos)}}" style="width: 300px; height: 300px">
  </div>
</div>


<div class="modal-footer">
  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}}</uib-alert>
    <div ng-if="inFav(info.name)">
        <!-- code to render a large video block-->
        <button type="button" class="btn btn-default" ng-click="removeFavourite(info.place_id, info.name); addAlert('Removed')">Remove from Favourites</button>
        <button type="button" class="btn btn-default" ng-click="addFavourite(info.place_id, info.name); addAlert('Allredy in favourites')">Lägg till i favoriter</button>
        
    </div>
    <div ng-if="!inFav(info.name)">
            <button type="button" class="btn btn-default" ng-click="removeFavourite(info.place_id, info.name); addAlert('Removed')">Remove from Favourites</button>
            <button type="button" class="btn btn-default" ng-click="addFavourite(info.place_id, info.name); addAlert('Saved')">Lägg till i favoriter</button>
        <!-- code to render the regular video block -->
    </div>

  
  
</div>