
<div class="modal-header">
  <button type="button" class="close" ng-click="close()">&times;</button>
  <h2 class="modal-title"><span id="placeName">{{info.name}}</span></h2>
</div>
<div class="modal-body">
  <p>Adress: {{info.formatted_address}}</p>
  <p>Hemsida: {{info.website}}</p>
  <p>Öppettider: </p>
  <p ng-repeat="day in info.opening_hours.weekday_text">{{day}}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="removeFavourite(info.place_id, info.name)">Remove from Favourites</button>
  <button type="button" class="btn btn-default" ng-click="addFavourite(info.place_id, info.name)">Lägg till i favoriter</button>
</div>