
<div class="modal-header">
  <button type="button" class="close" ng-click="close()">&times;</button>
  <h2 class="modal-title"><span id="placeName">{{info.name}}</span></h2>
</div>


<div class="modal-body">
  <div class="col-md-8">
    <p ng-if="info.formatted_address"><span class="placeCat">Address:</span> {{info.formatted_address}}</p>
    <p ng-if="info.website"><span class="placeCat">Website: </span><a href ="{{info.website}}"target="_blank"> {{info.website}}</a></p>
    <div ng-if="info.opening_hours"><span class="placeCat">Opening hours:</span>
      <li ng-repeat="day in info.opening_hours.weekday_text">{{day}}</li>
    </div>
    <p ng-if="info.international_phone_number"><span class="placeCat">Phone number:</span> {{info.international_phone_number}}</p>
    <p ng-if="info.rating"><span class="placeCat">Rating:</span> {{info.rating}}</p>
  </div>
  <div class="col-md-4" ng-if="info.photos">
    <img ng-src="{{getPhoto(info.photos)}}" id="picture">
  </div>
</div>

<div class="modal-footer">
  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}}</uib-alert>
    <div ng-if="inFav(info.name)">
        <!-- code to render a large video block-->
        <button type="button" class="btn btn-default placeBtn" ng-click="removeFavourite(info.place_id, info.name); addAlert('Removed from Favourites')">Remove from Favourites</button>
        <button type="button" class="btn btn-default placeBtn" ng-click="addFavourite(info.place_id, info.name); addAlert('Already in Favourites')">Add to Favourites</button>
        
    </div>
    <div ng-if="!inFav(info.name)">
            <button type="button" class="btn btn-default placeBtn" ng-click="removeFavourite(info.place_id, info.name); addAlert('Removed from Favourites')">Remove from Favourites</button>
            <button type="button" class="btn btn-default placeBtn" ng-click="addFavourite(info.place_id, info.name); addAlert('Saved in Favourites')">Add to Favourites</button>
        <!-- code to render the regular video block -->
    </div>

</div>