<!--  -->
<div class="col-sm-6">
    <p id="valdaInt">konst, litteratur, djur 
        <button type="button" class="btn btn-default btn-lg btn-xs knappar">ÄNDRA!</button></p>

     <!--p class="forsta" id="try"> Tryck på en stad!</p-->
     
    <p class="forsta" id="staden">GÖTEBORG</p>
    <div id="vanster">
        <!--<div ng-repeat="interest in interestList">

            <p>{{interest}}</p>-->
            <div ng-repeat="(key, val) in displayList()">
                {{key}} : {{val[0].name}}
            </div>
        </div>
        </div>
    </div>

    <button type="button" class="btn btn-default btn-lg knappar" id="lasmer">LÄS MER</button>

</div>
