<!-- INTERESTS VIEW -->
<div class="homePage">
  <ng-include src="'partials/navBar.html'" ng-controller="homeCtrl"></ng-include>

  <p class="standard" id="intInf">Pick your favourite interests so you can get straight to the good stuff.</p>

    <p class="button0">
          <button ng-class="setBtn(btnStatus('btn1'))" type="button" class="btn btn-default btn-lg theBtn" ng-click ="addInterest('Amusement parks'); btnSwitch('btn1')">AMUSEMENT PARKS</button>
          
          <button ng-class="setBtn(btnStatus('btn3'))" type="button" class="btn btn-default btn-lg theBtn" ng-click ="addInterest('Art galleries'); btnSwitch('btn3')">ART GALLERIES</button>
          <button ng-class="setBtn(btnStatus('btn4'))" type="button" class="btn btn-default btn-lg theBtn" ng-click ="addInterest('Clubs & Bars'); btnSwitch('btn4')">CLUBS & BARS</button>
          <button ng-class="setBtn(btnStatus('btn5'))" type="button" class="btn btn-default btn-lg theBtn" ng-click="addInterest('Café'); btnSwitch('btn5')">CAFÉ</button>
    </p>

    <p class="button0">
          <button ng-class="setBtn(btnStatus('btn6'))" type="button" class="btn btn-default btn-lg theBtn" ng-click="addInterest('Museum'); btnSwitch('btn6')">MUSEUM</button>
          <button ng-class="setBtn(btnStatus('btn7'))" type="button" class="btn btn-default btn-lg theBtn" ng-click="addInterest('Shopping'); btnSwitch('btn7')">SHOPPING</button>
          <button ng-class="setBtn(btnStatus('btn8'))" type="button" class="btn btn-default btn-lg theBtn" ng-click="addInterest('Movie theater'); btnSwitch('btn8')">MOVIE THEATER</button>
          <button ng-class="setBtn(btnStatus('btn9'))" type="button" class="btn btn-default btn-lg theBtn" ng-click="addInterest('Bowling'); btnSwitch('btn9')">BOWLING</button>

          <button ng-class="setBtn(btnStatus('btn10'))" type="button" class="btn btn-default btn-lg theBtn" ng-click="addInterest('Restaurants'); btnSwitch('btn10')">RESTAURANTS</button>
    </p>

    <p class="button0">
          <button ng-class="setBtn(btnStatus('btn11'))" type="button" class="btn btn-default btn-lg theBtn" ng-click ="addInterest('Parks'); btnSwitch('btn11')">PARKS</button>
          <button ng-class="setBtn(btnStatus('btn12'))" type="button" class="btn btn-default btn-lg theBtn" ng-click="addInterest('Architecture'); btnSwitch('btn12')">ARCHITECTURE</button>
          <button ng-class="setBtn(btnStatus('btn13'))" type="button" class="btn btn-default btn-lg theBtn" ng-click="addInterest('Cemetery'); btnSwitch('btn13')">CEMETERY</button>
          <button ng-class="setBtn(btnStatus('btn2'))" type="button" class="btn btn-default btn-lg theBtn" ng-click ="addInterest('Zoo'); btnSwitch('btn2')">ZOO</button>
          <button ng-class="setBtn(btnStatus('btn14'))" type="button" class="btn btn-default btn-lg theBtn" ng-click="addInterest('Library'); btnSwitch('btn14')">LIBRARY</button>

    </p>

    <p class="lastBtn">
        <a href="#/search" ng-class="toSearch('btn btn-default btn-lg theBtn')"ng-click="initFavourites(); resetDisplayDict()">I'VE SELECTED ALL MY INTERESTS</a>
    </p>

</div>