/* FOR ALL VIEWS  -----------------------------------------------------------------------------------------------------------------------------*/
.index {
	background-color: #262626;
}

/* HOME PAGE -----------------------------------------------------------------------------------------------------------------------------------*/
.homePage { 
	background-image: url("tradmorkast.jpg");
	background-size: cover; 
	background-repeat: no-repeat;
	min-height: 100vh;
	position: relative;
}

#appName {
	font-family: garamond;
	color:white;
	text-align: center;
	font-size: 50px;
	padding-top: 250px;
	font-weight: bold;
	text-shadow: 
	-1px -1px 0 black,
	1px -1px 0 black, 
	-1px 1px 0 black, 
	1px 1px 0 black;
}

#homeLine { 
	width:47%;
	margin-top: -25px;
}

.slogan {
	font-family: garamond;
	text-align: center;
	color:rgb(140, 176, 217);
	font-size: 17px;
	margin-top:-17px;
	padding-bottom: 35px;
    text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;  
}

.signInBtn{
	text-align: center;
	font-family: Courier;
	color:white;
	background-color: rgba(140, 176, 217,0.5);
	margin-left:50%;
 	transform: translateX(-50%);
}

.homeText{
	text-align: center !important;
	font-family: garamond;
	margin:-3px;
	color:#262626;
	text-shadow: 0.3px 0.3px #e6f0ff;
	font-size: 17px;
	margin-top:1px;
	text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
    font-style: italic; 
    font-weight: bold; 
}

.homeText span:hover{
	cursor: pointer;
}

.wellFirst{
	background:rgba(0,0,0,0.5);
	margin-top:20px;
	margin-left:25%;
	margin-right:25%;
	margin-bottom: 0;
	border-color:rgba(0,0,0,0.5);
	border-radius: 4%;
}

.collText{
	color:white;
	text-align: center;
	font-family: garamond;
	font-size: 15px;
	margin-bottom: -5px;
	font-style: italic;
}

#coll0{
	margin-top: 20px;
	font-size:18px;
	font-style: normal;
}

#coll1{
	font-size:18px;
	font-style: normal;
}

#darker {
	color:#91B4DA;
	font-weight: bold;
}

#youTou{
	color:#4da6ff;
}

/* INTEREST VIEW  ------------------------------------------------------------------------------------------------------------------------------*/
.standard{
	font-family: garamond;
	text-align: center;
	font-weight: lighter;
}


#intInf{
	font-size: 30px;
	margin-bottom:40px;
	margin-top:120px;
	color:white;
}

.theBtn{
	text-align: center;
	font-family: Courier;
	color:#b3cbe6;
	background-color: transparent;
}

.button0{
	text-align: center;
	font-family: Courier;
	color:black;
}
.presBtnt{
	text-align: center;
	font-family: Courier;
	color:white;
	background-color: #004080;
}
.presBtnt:hover, .presBtnt:focus, .presBtnt:active, .presBtnt.active, .open > .dropdown-toggle.presBtnt{
	background-color: #004080;
	color:white;
}
.lastBtn {
	text-align: center;
	font-family: Courier;
	color:red;
	padding-top: 30px;
	margin-bottom: 0;
}

.btn-default.disabled{
	border-color: white;
	background-color: #8cb0d9;
	color:white;
}

/* MAP ---------------------------------------------------------------------------------------------------------------------------------*/
.mapBackground {
	background-color: #262626;
}

#mapInf{
	font-size: 30px;
	margin-bottom:5px;
	color:white;
	margin-top: 40px;
}

#mapDes0{
	color:white;
	font-size: 15px;
	margin-bottom: 0;
	font-style: italic;
}

#mapDes1{
	color:white;
	font-size: 17px;
	margin-bottom: 20px;
	font-style: italic;
}

#favBtn{
	color:#88B1D9;
}

#favBtn:hover{
	color:white;
	text-shadow:
	-1px -1px 0 #999999, 
	1px -1px 0 #999999,
	-1px 1px 0 #999999,
	1px 1px 0 #999999; 
}

#map-canvas {
	height: 550px;
	width: 100%;
	border: 2px solid black;
}

.interests{
	color: white;
	font-size: 40px;
	font-family: garamond;
	text-align: left;
	text-shadow: 
	-1px -1px 0 #666666, 
	1px -1px 0 #666666,
	-1px 1px 0 #666666,
	1px 1px 0 #666666;
	margin-top:35px;
}

.intline{
	width:29%;
	margin-top: -21px;
	float: left;
	margin-bottom:-10px;
}

.placeList{
	font-family: garamond;
	text-align: center;
	color:#b3cbe6;
	font-size:17px;
	font-style: italic;
}

.placeList:hover{
	cursor: pointer;
	font-style: none;
	color:#d9d9d9;
}

#noResult{
	color:#a6a6a6;
	font-family: garamond;
	font-style: italic;
	font-size: 17px;
}

.fulfill{
	height: 10vh;
}

 /* FAVOURIT LIST ----------------------------------------------------------------------------------------------------------------*/
.bigOver {
	font-family: garamond;
	color:white;
	text-align: center;
	font-size: 50px;
	padding-top: 50px;
	font-weight: bold;
	text-shadow: 
	-1px -1px 0 black,
	1px -1px 0 black, 
	-1px 1px 0 black, 
	1px 1px 0 black;
}

#favLine{
	width:30%;
	margin-top: -23px;
}

.favList{
    margin-left: 300px;
    margin-right: 300px;
}

#youFav{
	font-size: 20px;
	color: white;
}

.clickable:hover{
	cursor: pointer;
	text-decoration: underline;
}

.noFavourite{
	font-size: 20px;
	margin-bottom:35px;
	color:white;
	margin-top: 40px;
}
 /*ABOUT ---------------------------------------------------------------------------------------------------------------*/
#fixDiv{
	overflow: scroll;
}

#aboutOver{
	padding-top: 0;
}

#aboutUn{
	padding-bottom: 0px;
	margin-top: 30px;
}

.aboutTex{
	color:white;
	font-size: 17px;
	font-style: italic;
	margin-bottom: 0;
}

#picPos{
	margin-top: 30px;
	margin-bottom: 50px;
}

.perPic{
	width:152px;
	height:114px;
	border:2px solid white;
	position: center;
	margin-left:50%;
 	transform: translateX(-50%);
}

.picTex{
	color:white;
	font-style: italic;
	font-family: garamond;
	text-align: center;
	font-size: 17px;
}

.img-circle {
    border-radius: 50%;
}

.thanksTo{
	color:white;
	font-size:12px;
	font-style: italic;
}

 /*MODAL & NAVBAR ---------------------------------------------------------------------------------------------------------------*/
.modal-header {
	background-color: #d9d9d9;
	text-align: center;
	color:#4d4d4d;
	font-family: garamond;
}

 .modal-body {
 	background-color: #d9d9d9;
 	overflow:auto;
 	color:#4d4d4d;
 	font-size: 17px;
 	font-family: garamond;
 }

.modal-footer{
	background-color: #d9d9d9;
	font-family: garamond;
	color:white;
	margin-top: 0px;
}

.modal-content{
	background: #d9d9d9;
}

#placeName{
	color:white;
	text-shadow: 
	-1px -1px 0 black, 
	1px -1px 0 black, 
	-1px 1px 0 black, 
	1px 1px 0 black;
	font-weight: bold;
	font-size: 45px;
}

.colOverFlow{
	overflow-wrap: break-word;
  	word-wrap: break-word;
}

#picture{
	width: 100%; 
	height: 300px;
	padding:2px;
   	border:1px solid white;
   	margin-top: 5%;
   	margin-bottom: 5%;
}

.placeCat{
	color: black;
	font-weight: bold;
}

.placeBtn{
	background-color: rgb(140, 176, 217);
	color:white;
}

.placeBtn:hover{
	background-color: white;
	color:rgb(140, 176, 217);
}

.alert-warning{
	background-color: #969696;
	font-family: garamond;
	color:white;
	border-color:#969696; 
}

span.ng-binding.ng-scope{
	padding-right:15px;
}

.panel-default>.panel-heading{
	background-color: #d9e5f2;
	border-color:#d9e5f2;
}

#menybar{
	background-color: transparent;
	border-color: transparent;
	color:yellow;
}

.nav.navbar-nav.navbar-right li a {
    color: #8cb1d9;
    font-family: Courier;
}

.nav.navbar-nav li a {
    color: #8cb1d9;
    font-family: Courier;
}

.nav.navbar-nav li a:hover {
	color: white; 
}

.nav>li>a:hover {
	background-color: gray; 
}

.nav>li>a:focus{
	background-color: transparent;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
	background-color: #5CB85C;
	border-color: transparent; 
}

.not-active {
	color:transparent !important;
  	pointer-events: none;
  	cursor: default;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: transparent;
    color: white;
}
.dropdown-menu {
	background-color: transparent;
 }

.dropdown-menu li a{
	color: #8cb1d9;
    font-family: Courier;
}
 .dropdown-menu >li>a:hover {
	background-color: transparent;
	color:white;
 }

.dropdown-menu .divider {
	background-color: gray;
}

.iconGlobe{
	width:30px;
	height:30px;
}

.loading{
	width: 60px;
	height: 20px;
}

.attrText{
	font-family: garamond;
	font-style: italic;
	font-size: 12px;
	color: #a6a6a6;
}