/* ----- ALLA VIEWS OCH HEADER ----- #98e698 #00802b */

.index{
	background-color: white;
}

#namn {
	font-family: "Courier New";
	font-weight: bold;
	text-shadow: 1px 1px white;
	color: #191970;
	text-align: center;
	font-size: 50px;
	padding-top: 190px;
}

#startlinje{
	width:50%;
	margin-top: -25px;
	}

#slogan {
	font-family: Courier;
	text-align: center;
	color:white;
	font-size: 15px;
	margin-top:-5px;

}
.skuggaSlogan{
    color: white;
    text-shadow:
    -1px -1px 0 gray,
    1px -1px 0 gray,
    -1px 1px 0 gray,
    1px 1px 0 gray;  
}

#borja{
	margin-left:42%;
}

/* ------- VIEW1/Välkomssidan ------ */

#startsida{ 
background-image: url("tradstampel.jpg");
background-size: 100% 100%; 
background-repeat: no-repeat;
height: 100vh;
width: 100vw;
}


.removeLinkLook{
	font-family: "Courier New";
	font-weight: bold;
	font-size: 20px;
	color:#00802b;;
}
.removeLinkLook:hover, .removeLinkLook:visited, .removeLinkLook:active, .removeLinkLook:link {
	font-family: "Courier New";
	font-weight: bold;
	font-size: 20px;
	color:#00802b;
	text-decoration: none;

}
#underrubrik {
	font-family: Courier;
	text-align: center;
	color:#00802b;
}

#morkare {
	font-family: Courier;
	color:#006622;
	font-weight: bold;
	text-shadow: 2px 2px #c1f0c1;
}

#intressen {
	font-family: Courier;
	text-align: center;
	color:#98e698;
	font-weight: bold;
	text-shadow: -3px 0 #00802b, 0 3px #006622, 3px 0 #006622, 0 -3px #00802b;
}

.knappar{
	text-align: center;
	font-family: Courier;
	color:#006622;
}
.knappTryckt{
	text-align: center;
	font-family: Courier;
	color:#006622;
	background-color: #aaf683;
}
.knappTryckt:hover, .knappTryckt:focus, .knappTryckt:active, .knappTryckt.active, .open > .dropdown-toggle.knappTryckt{
	background-color: #aaf683;
}
.sistaknappen {
	text-align: center;
	font-family: Courier;
	color:#006622;
	padding-top: 30px;

}

/* ------------- VIEW2 -------*/

#vanster{
	overflow-y: scroll;
	height: 50vh;
	margin-top: -25px;
}

#valdaInt {
	font-family: Courier;
	font-size: 15px;
	color:#006622;
	padding-left: 100px;
}

.forsta{
	font-family: Courier;
	color: white;
	font-weight: bold;
	text-align: center;
	text-shadow: -3px 0 #00802b, 0 3px #006622, 3px 0 #006622, 0 -3px #00802b;
}

#try{
	padding-top: 100px;
	font-size: 50px;
}

#staden {
	margin-top: -25px;
	font-size: 80px;
}

.kategorier{
	font-family: Courier;
	color:#006622;
	font-weight: bold;
	font-size: 30px;
	padding-left: 20px;
}

.attgora{
	font-family: Courier;
	color:white;
	font-weight: italic;
	font-size: 20px;
	padding-left: 30px;
}

#lasmer {
	margin-top: 3px;
}

#map-canvas {
	height: 400px;
	width: 100%;
	border: 2px solid black;
}
.navbar-header, .navbar-header:focus, .navbar-header:active{
	background-color: #99E698;

}
.nav>li>a:hover {
	background-color: #5CB85C; 
}
.nav>li>a:focus{
	background-color: transparent;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
	background-color: #5CB85C;
	border-color: transparent; 
}