/* FOR ALL VIEWS  -----------------------------------------------------------------------------------------------------------------------------*/

.index {
	background-color: #262626;
}

/* HOME PAGE -----------------------------------------------------------------------------------------------------------------------------------*/
#homePage { 
	background-image: url("tradmorkast.jpg");
	background-size: cover; 
	background-repeat: no-repeat;
	min-height: 100vh;
	position: relative;
}

#appName {
	font-family: garamond;
	color:white;
	text-align: center;
	font-size: 50px;
	padding-top: 250px;
	font-weight: bold;
	text-shadow: 
	-1px -1px 0 black,
	1px -1px 0 black, 
	-1px 1px 0 black, 
	1px 1px 0 black;
}

#homeLine { 
	width:47%;
	margin-top: -25px;
	}

.slogan {
	font-family: garamond;
	text-align: center;
	color:rgb(140, 176, 217);
	font-size: 17px;
	margin-top:-17px;
	padding-bottom: 35px;
    text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;  
}

.signInBtn{
	text-align: center;
	font-family: Courier;
	color:white;
	background-color: rgba(140, 176, 217,0.5);
	margin-left:50%;
 	transform: translateX(-50%);
}

.homeText{
	text-align: center !important;
	font-family: garamond;
	margin:-3px;
	color:#262626;
	text-shadow: 0.3px 0.3px #e6f0ff;
	font-size: 17px;
	margin-top:1px;
	text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
    font-style: italic; 
    font-weight: bold; 
}

.homeText span:hover{
	cursor: pointer;
}

.wellFirst{
	background:rgba(0,0,0,0.5);
	margin-top:20px;
	margin-left:25%;
	margin-right:25%;
	margin-bottom: 0;
	border-color:rgba(0,0,0,0.5);
	border-radius: 4%;
}

.collText{
	color:white;
	text-align: center;
	font-family: garamond;
	font-size: 15px;
	margin-bottom: -5px;
	font-style: italic;
}

#coll0{
	margin-top: 20px;
	font-size:18px;
	font-style: normal;
}

#coll1{
	font-size:18px;
	font-style: normal;
}

#darker {
	color:#91B4DA;
	font-weight: bold;
    /*text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;*/  
}

#youTou{
	color:#4da6ff;
}

/* INTEREST VIEW  ------------------------------------------------------------------------------------------------------------------------------*/

#darkBack {
	background-image: url("tradmorkast.jpg");
	background-size: 100% 100%; 
	background-repeat: no-repeat;
	height: 100vh;
	width: 100vw;
}

.standard{
	font-family: garamond;
	text-align: center;
	font-weight: lighter;
}


#intInf{
	font-size: 30px;
	margin-bottom:40px;
	margin-top:120px;
	color:white;
}

.theBtn{
	text-align: center;
	font-family: Courier;
	color:#b3cbe6;
	background-color: transparent;
}

.button0{
	text-align: center;
	font-family: Courier;
	color:black;
}
.presBtnt{
	text-align: center;
	font-family: Courier;
	color:white;
	background-color: #004080;
}
.presBtnt:hover, .presBtnt:focus, .presBtnt:active, .presBtnt.active, .open > .dropdown-toggle.presBtnt{
	background-color: #004080;
	color:white;
}
.lastBtn {
	text-align: center;
	font-family: Courier;
	color:red;
	padding-top: 30px;
	margin-bottom: 0;
}

.btn-default.disabled{
	border-color: white;
	background-color: #8cb0d9;
	color:white;
}

/* MAP ---------------------------------------------------------------------------------------------------------------------------------*/
.mapBackground {
	background-color: #262626;
}

#mapInf{
	font-size: 20px;
	margin-bottom:35px;
	color:white;
	margin-top: 40px;
}

#map-canvas {
	height: 550px;
	width: 100%;
	border: 2px solid black;
}

.interests{
	color:#b3cbe6;
	font-size: 40px;
	font-family: "Courier New";
	text-align: left;
	text-shadow: 1px 1px white;
	/*font-weight: bold;*/
	margin-top:35px;
}

.intline{
	width:23%;
	margin-top: -18px;
	float: left;
	margin-bottom:-10px;
}

.places{
	font-family: Courier;
	text-align: center;
	font-weight: lighter;
	/*color:#b3cbe6;*/
	color:white;
	text-align: center;
	font-size:17px;
}

.fulfill{
	height: 10vh;
}

/* NAVBAR ----------------------------------------------- */
#menybar{
	background-color: transparent;
	border-color: transparent;
	color:yellow;
}
.nav.navbar-nav.navbar-right li a {
    color: #8cb1d9;
    font-family: Courier;
}

.nav.navbar-nav li a {
    color: #8cb1d9;
    font-family: Courier;
}

.nav.navbar-nav li a:hover {
	color: white; 
}

.nav>li>a:hover {
	background-color: gray; 
}
.nav>li>a:focus{
	background-color: transparent;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
	background-color: #5CB85C;
	border-color: transparent; 
}
.not-active {
	color:transparent !important;
  	pointer-events: none;
  	cursor: default;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: transparent;
    color: white;
}
.dropdown-menu {
	background-color: transparent;
 }

 .dropdown-menu >li>a:hover {
	background-color: transparent;
	color:white;
 }

.dropdown-menu .divider {
	background-color: gray;
}

.about{
	width:30px;
	height:30px;
	margin-right:-20px;
	margin-top:-8px;
}

 /* FAVOURIT LIST -------------------------------*/
#bigOver {
	font-family: garamond;
	color:white;
	text-align: center;
	font-size: 50px;
	padding-top: 50px;
	font-weight: bold;
	text-shadow: 
	-1px -1px 0 black,
	1px -1px 0 black, 
	-1px 1px 0 black, 
	1px 1px 0 black;
}

#favLine{
	width:30%;
	margin-top: -23px;
}

#favInf{
	font-size: 15px;
	color:#b3cbe6;
}

#youFav{
	font-size: 20px;
	color:white;
}

.favList{
    margin-left: 300px;
    margin-right: 300px;
}

.clickable:hover{
	cursor: pointer;
}

 /*MODAL-------------------------------------------------------*/

.modal-header {
	background-color: #d9d9d9;
	text-align: center;
	color:#4d4d4d;
	font-family: garamond;
}

 .modal-body {
 	background-color: #d9d9d9;
 	overflow:auto;
 	color:#4d4d4d;
 	font-size: 17px;
 	font-family: garamond;
 }

.modal-footer{
	background-color: #d9d9d9;
	font-family: garamond;
	color:white;
	margin-top: 0px;
}

.modal-content{
	background: #d9d9d9;
}

#placeName{
	color:white;
	text-shadow: 
	-1px -1px 0 black, 
	1px -1px 0 black, 
	-1px 1px 0 black, 
	1px 1px 0 black;
	font-weight: bold;
	font-size: 45px;
}

#picture{
	width: 100%; 
	height: 300px;
	padding:2px;
   	border:1px solid white;
   	margin-top: 5%;
   	margin-bottom: 5%;
}

.placeCat{
	color: white;
	font-weight: bold;
}

.placeBtn{
	background-color: rgb(140, 176, 217);
	color:white;
}

.placeBtn:hover{
	background-color: white;
	color:rgb(140, 176, 217);
}

.alert-warning{
	background-color: #969696;
	font-family: garamond;
	color:white;
	border-color:#969696; 
}

span.ng-binding.ng-scope{
	padding-right:15px;
}

 /*---------------------------------------------------------------------------*/


.skuggaInfo3{
    color: white;
    text-shadow:
    -1px -1px 0 #336699,
    1px -1px 0 #336699,
    -1px 1px 0 #336699,
    1px 1px 0 #336699;  
}


.dropdown-menu li a{
	color: #8cb1d9;
    font-family: Courier;
}


.modal-dialog{
	width: 90%;
	margin-top: 50% auto;
	height: 90%;
}


.removeLinkLook{
	font-family: "Courier New", courier;
	font-weight: bold;
	font-size: 20px;
	color:#00802b;
}


.removeLinkLook:hover, .removeLinkLook:visited, .removeLinkLook:active, .removeLinkLook:link {
	font-family: "Courier New", courier;
	font-weight: bold;
	font-size: 20px;
	color:black;
	text-decoration: none;
}

.panel-default>.panel-heading{
	/*background-color:#262626;*/
	background-color: #d9e5f2;
	/*border-color:#262626;*/
	border-color:#d9e5f2;
}

.panel-default{
	/*border-color:#262626:*/

}

.middle{
	float: none; 
	margin: 0 auto;
}

#infoLine{
	width:25%;
	margin-top: -23px;
}

.noResult {
	color: #FFFFFF;
}

